* {
	box-sizing: border-box;
}

html {
	

	background: url("images/coffee-1214230.JPG") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	}

#container {
	text-align: right;
	margin-top: 60%;
	color: white;
}

nav li {
	list-style: none;
	padding: 10px;
}	

a {
	text-decoration: none;
	color: white;
}

