
html {
	

	background: url("../images/coffee-beans-1082035_1920.JPG") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	}

#container {
	width: 80%;
	background-color: white;
	margin: 0 auto;
}

#container h1 {
	text-align: center;
}
.coffee-drinks {
	display: block;
	width: 90%;
	padding-left: 20px;
	padding-right: 20px;

}
.price {
	float: right;
}